* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212529;
    color: white;
}

a {
    color: #91a7ff;
    text-decoration: none;
}

a:hover {
    color: #91A7FF;
    text-decoration: underline;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 100px;
    padding-left: 100px;
}

.header {
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 16px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: #343a40;
    -webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.5);
}

.header a {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 12px 12px;
    margin-left: 12px;
    margin-right: 4px;
    font-size: 1em;
    border-radius: 8px;
    transition: 0.2s;
    color: white;
}

.header a:hover {
    background-color: #748ffc;
}

.header a.active {
    background-color: #748ffc;
  }

.header-right {
    float: left;
}

.about {
    margin-top: 16px;
}

.about h1 {
    text-align: center;
    color: white;
    margin-bottom: 16px;
}

.about p {
    text-align: center;
    color: #bcc6ca;
    font-size: 1.02em;
    line-height: 1.5em;
}

.container {
    margin-top: 50px;
    ;
}

.container h3 {
    margin-bottom: 16px;
    font-size: 1.25em;
}

.contact {
    margin-bottom: 50px;
}

.contact p {
    font-size: 1.1em;
    color: #bcc6ca;
}

.contact li {
    font-size: 1.1em;
    margin-left: 16px;
    margin-top: 16px;
    color: #bcc6ca;
    line-height: 0.5em;
}

.column {
    width: 26%;
    float: left;
    padding-right: 8px;
}

.row {
    margin: 0 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    border: 1px solid #91a7ff;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    background-color: #343a40;
    color: #bcc6ca;
}

.card a {
    font-size: 1.1em;
}

.card p {
    margin-top: 6px;
    font-size: 0.9em;
}

footer {
    color: #bcc6ca;
    font-size: 0.9em;
    margin-top: 30px;
    margin-bottom: 16px;
    text-align: center;
}


/*Media queries for responsiveness */

@media only screen and (max-width: 600px) {
    .wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }
    .header {
        overflow: hidden;
    }
    .header a {
        display: block;
        text-align: left;
        font-size: 1.30em;
    }
    .header-right {
        float: none;
    }
    .about p {
        text-align: left;
        font-size: 1.12em;
        line-height: 1.35em;
    }
    .column {
        max-width: 100%;
        ;
        width: 100%;
        display: block;
        margin-bottom: 24px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
    .container h3 {
        font-size: 1.4em;
    }
    .card a {
        font-size: 1.30em;
        margin-bottom: 8px;
    }
    .card p {
        font-size: 1em;
    }
    footer {
        font-size: 1em;
        margin-top: 30px;
        margin-bottom: 22px;
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media only screen and (min-width: 768px) {
    .wrapper {
        padding-right: 60px;
        padding-left: 60px;
    }
}

@media only screen and (min-width: 992px) {
    .wrapper {
        padding-right: 80px;
        padding-left: 80px;
    }
}