@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    /* Element Palette */
    --clr-white: #fff;
    --clr-dark: #212529;
    --clr-header: #ffffff;
    --clr-text: #b0b0b0;
    --clr-text-metadata: #8f8f8f;
    --clr-href: #ffffff;
    --clr-href-hover: #8d6af6;
    --clr-border: #3a3f45;
    /* Radius */
    --radius: 0.25rem;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--clr-dark)
}

a {
    color: var(--clr-href);
    text-decoration: none;
    transition: all ease-in 0.1s;
}

a:hover {
    color: var(--clr-href-hover);
    text-decoration: none;
}


/* START OF NAV */

.navbar {
    width: 100%;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    backdrop-filter: blur(8px);
    border-bottom: 2px solid var(--clr-border);
}

.navbar ul {
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem;
}

.navbar li {
    list-style-type: none;
}

.navbar-title {
    flex: 1;
    font-size: 1.5em;
}

.navbar-title a {
    text-decoration: none;
    color: var(--clr-white);
    height: auto;
}

.navbar-title svg {
    display: block;
    margin: auto;
}

.navbar-links a {
    text-decoration: none;
    font-size: 1.05em;
    margin-left: 1rem;
    font-weight: 500;
    color: var(--clr-href);
    transition: all ease-in 0.1s;
}

.navbar-links a:hover {
    color: var(--clr-href-hover);
    text-decoration: none;
}

.navbar-button {
    display: none;
    font-size: 1.2rem;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--clr-white);
    border: 2px solid var(--clr-border);
    border-radius: var(--radius);
    transition: all ease-in 0.2s;
}

.navbar-button:hover {
    cursor: pointer;
    color: var(--clr-href-hover);
    background-color: var(--clr-border);
}


/* END OF NAV */

#header {
    padding-top: 6rem;
    padding-bottom: 2.5rem;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#header h1 {
    margin-top: 0;
    font-size: 2em;
    color: var(--clr-header);
}

#header p {
    word-wrap: break-word;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.3em;
    font-weight: 500;
    color: var(--clr-text);
}


/* Showcase */

.showcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2.5rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}

.showcase-col {
    width: 350px;
}

.showcase-box {
    padding: 1rem;
}

.showcase-box svg {
    display: block;
    margin: auto;
}

.showcase-box h1 {
    font-size: 1.6em;
    color: var(--clr-header);
}

.showcase-box p {
    font-weight: 500;
    font-size: 1.1em;
    color: var(--clr-text);
}


/* List */

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.list-col {
    width: 50%;
}

.list-box {
    padding: 1.5rem;
}

.list-box h1 {
    font-size: 1.5em;
    margin: 0;
    color: var(--clr-header);
}

.list-box p {
    font-weight: 500;
    font-size: 1.07em;
    color: var(--clr-text);
}

.list-box a.bt {
    display: block;
    width: fit-content;
    margin-top: 1.15rem;
    padding: 10px 10px;
    font-size: 1em;
    font-weight: 500;
    color: var(--clr-white);
    background-color: var(--clr-border);
    border-radius: var(--radius);
    transition: all ease-in 0.1s;
    text-decoration: none;
    user-select: none;
}

.list-box a.bt:hover {
    background-color: var(--clr-href-hover);
}


/* Or */

.cat {
    color: var(--clr-header);
    font-size: 1.7em;
    padding: 1rem;
}

.or {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.or-col {
    width: 50%;
}

.cate {
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--clr-href);
    transition: all ease-in 0.1s;
    padding: 0.5rem;
}

.cate:hover {
    color: var(--clr-href-hover);
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.social ul,
li {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social a {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    color: var(--clr-href);
    font-size: 1.8em;
    transition: all ease-in 0.1s;
}

.social a:hover {
    color: #8d6af6;
}

hr {
    border: 0;
    border-top: 2px solid var(--clr-border);
}

footer {
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 2.5rem;
    color: var(--clr-text-metadata);
}

@media (max-width: 650px) {
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-links a {
        display: block;
        margin-left: 0;
        margin-bottom: 0.50rem;
        font-size: 1.15em;
    }
    .navbar-links:nth-child(3) {
        margin-top: 1rem;
    }
    .navbar-button {
        display: block;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .active {
        display: block;
    }
    #header {
        padding-top: 6rem;
        padding-bottom: 1rem;
    }
    #header h1 {
        font-size: 1.75em;
    }
    #header p {
        font-size: 1.3rem;
    }
    .showcase {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .showcase-col,
    .list-col,
    .or-col {
        width: 100%;
        display: block;
    }
    .showcase-box h1 {
        font-size: 1.4em;
    }
    .showcase-box p {
        font-size: 1.09em;
    }
    .list-box a.bt {
        margin-top: 1rem;
        padding: 8px 8px;
        font-size: 1em;
    }
    .cate {
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 0.5rem;
    }
    .social a {
        font-size: 2.25em;
    }
}

@media (min-width: 650px) {
    .list-col {
        width: 80%;
    }
    .or-col {
        width: 80%;
    }
}

@media (min-width: 800px) {
    .showcase-col {
        width: 390px;
    }
    .list-col {
        width: 60%;
    }
    .or-col {
        width: 60%;
    }
}

@media (min-width: 1000px) {
    .showcase-col {
        width: 450px;
    }
    .list-col {
        width: 50%;
    }
    .or-col {
        width: 50%;
    }
}