@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    /* Brand Palette */
    --clr-primary: #3fd896;
    --clr-primary-hover: #1abf88;
    /* Element Palette */
    --clr-white: white;
    --clr-title: #111111;
    --clr-border: #899081;
    --clr-light: #e8e8e8;
    --clr-button: #424242;
    /* Radius */
    --radius: 0.25rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--clr-white);
}


/* START OF NAV */

.navbar {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--clr-white);
    border-bottom: 1px solid var(--clr-border);
}

.navbar ul {
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem;
}

.navbar li {
    list-style-type: none;
}

.navbar-title {
    flex: 1;
    font-size: 1.5em;
    font-weight: 300;
    user-select: none;
}

.navbar-title a {
    color: var(--clr-title);
    text-decoration: none;
}

.navbar-links a {
    color: var(--clr-title);
    text-decoration: none;
    font-size: 1.05em;
    margin-left: 1rem;
    font-weight: 500;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar-button {
    display: none;
    font-size: 1.2rem;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--clr-button);
    border: 2px solid var(--clr-light);
    border-radius: var(--radius);
}

.navbar-button:hover {
    cursor: pointer;
    color: var(--clr-primary);
}


/* END OF NAV */

a {
    color: #2a7ae2;
    text-decoration: none;
}

a:hover {
    color: #1250a1;
    text-decoration: underline;
}

#header {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    background-color: #ffffff;
    opacity: 1;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 10px), repeating-linear-gradient( #d8d8d855, #d8d8d8);
}

#header h1 {
    margin-top: 0;
    font-size: 2.5em;
    color: var(--clr-button);
}

#header p {
    word-wrap: break-word;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 1.5rem;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    width: 30%;
}

.card {
    padding: 1rem;
}

.card svg {
    display: block;
    margin: auto;
}

.card h1 {
    font-size: 1.6em;
}

.card p {
    font-weight: 500;
    font-size: 1.1em;
}

footer {
    font-weight: 500;
    text-align: center;
    margin: 1rem;
    color: var(--clr-border);
}

@media (max-width: 600px) {
    .navbar ul {
        flex-wrap: wrap;
    }
    .navbar-links a {
        display: block;
        margin-left: 0;
        margin-bottom: 0.50rem;
        font-size: 1.15em;
    }
    .navbar-links:nth-child(3) {
        margin-top: 1rem;
    }
    .navbar-button {
        display: block;
    }
    .navbar-links {
        display: none;
        width: 100%;
        transition: all 300ms ease-in;
    }
    .active {
        display: block;
    }
    #header {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    #header h1 {
        font-size: 1.75em;
        color: var(--clr-button);
    }
    #header p {
        font-size: 1.3rem;
    }
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .card h1 {
        font-size: 1.4em;
    }
    .card p {
        font-size: 1.09em;
    }
}